.book_container {
  width: 100%;
  margin-top: 1px;
  border: 1px solid blueviolet;
  border-radius: 10px;
}
.book_ol {
  margin: 10px;
  padding-left: 20px;
}
.desc_container {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid blueviolet;
  border-radius: 10px;
}
.desc_title {
  align-self: center;
  margin-top: 30px;
}
.desc {
  padding: 35px;
}
.desc::before {
  content: "";
  display: block;
  width: 500px;
  border: 0.2px solid rgb(136, 43, 223, 0.3);
  margin-bottom: 20px;
}
